
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Spor</td>
            <td>Galatasaray Randrres</td>
            <td>True</td>
            <td>
                <button class="btn btn-sm btn-primary">Güncelle</button>
                <button class="btn btn-sm btn-danger">Delete</button>
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-sm btn-info">Yeni Kategori</button>
</div>